/* 主题色 */
$main-color: #7525ff;
$main-color-light: #9a60ff;
$main-color-llight: #dbc7fd;
$main-color-lllight: #f1e9ff;
$main-color-ts: #5d00ff32;
$secend-color: #006aff;
$secend-color-light: #4190ff;
$secend-color-llight: #77b0ff;
/* 背景色 */
$back-white-color: #ffffff80;
$back-black-color: #34343480;
/* 字体一般色 */
$font-black-color: #262626;
$font-black-color-light: #3a3a3a;
$font-white-color: #fff;
/* 背景阴影 */
$box-show-color: rgba(59, 59, 59, 0.505);
